* {
	margin: 0px;
	padding: 0px;
}
#bodytable {
	margin-left: auto;
	margin-right: auto;
	width: 785px;
	background-color: #FFFFFF;
	border: 0px none #000000;
	border-collapse:collapse;
	font-family: "Times New Roman", Times, serif;
	text-align: center;		line-height:1.1em
}
.osnovnoicontent h3 {
	margin-top:5px;
	}
.osnovnoicontent ul {
	margin-top:5px;
	list-style-type: none;
	}

.top {
	text-align: left;
	vertical-align: top;
}

.contentcolor {
	background-color: #555555;
	color: #FFFFFF;
}
#bodytable .contentcolor h1 {
}


.menufon {
	width: 194px;
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #C8C6C5;
}
#bodytable .contentcolor h3 {
	color: #FFFF00;
}

#menudiv {
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 210px;
	width: 195px;
}
#menudiv ul {
	list-style-type: none;
	text-align: center;
}
#menudiv li {
	color: #555555;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 8px;
}
#menudiv li a {
	text-decoration: none;
	color: #555555;
}
#menudiv .notactive a:hover {
	border-top-color: #555555;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: #555555;
	border-right-width: 0px;
	border-left-width: 0px;
	color: #000000;
}



.modulOpisanie {
	text-indent: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	padding-right: 10px;
	padding-left: 5px;
}

#copiright {
	text-align: right;
	height: 15px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	padding-right: 10px;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	background-color: #C8C6C5;
}
.shadow {
	background-image: url("shadowtop.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
.osnovnoicontent {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 20px;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}




#topmenublock {
	background-color: #FFFFFF;
	height: 40px;
	width: 190px;
}
.sloganblock {
	height: 40px;
	background-image: url("shadowbotton.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #555555;
	color: #FFFF00;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-right: 20px;
}
#menudiv .activemenu {
	background-color: #555555;
	color: #FFFFFF;
	font-weight: normal;
}

#logomerge {
	vertical-align: top;
	float: left;
	padding: 0px;
	background-color: #555555;
}
.readmore {
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
}
.readmore a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#bodytable img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}

.topcenterblock {
	width: 155px;
}
#logomerge2 {
	vertical-align: top;
	text-align: left;
}
#logomerge1 {
	text-align: right;
	vertical-align: top;
	color: #C8C7C5;
}
.topcontentblock h1 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 36px;
	color: #FFFFFF;
	text-align: left;
}
.modul {
	text-decoration: underline;
}
#submenu a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	}
#submenu li{
	margin-top:10px;
	}
#submenu a:hover{
	text-decoration: underline;
	}
.matrixlink{
	text-decoration: none;
	color: #FFFF00;
	}
.matrixlink:hover{
	text-decoration: underline;
	}
